<div class="row">
    <!-- left column -->
    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">搜索框</h3>
            </div>
            <form id="form" role="form" action="/user/list.do" onsubmit="return validate_empty_form(this)">
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <input id="userName" name="userName" class="form-control searchQ" placeholder="用户名" type="text">
                        </div>
                        <div class="col-xs-3">
                            <input id="email" name="email" class="form-control searchQ" placeholder="邮箱" type="text">
                        </div>
                        <div class="col-xs-3">
                            <input id="phone" name="phone" class="form-control searchQ" placeholder="手机号" type="text">
                        </div>
                        <div class="col-xs-3">
                            <select name="isdelete" class="form-control select2 select2-hidden-accessible searchQ"
                                    style="width: 100%;" tabindex="-1" aria-hidden="true">
                                <option selected="selected" value="0">有效</option>
                                <option value="1">失效</option>
                            </select>
                        </div>
                        <input name="page" value="1" hidden="hidden"/>
                        <input name="size" value="20" hidden="hidden"/>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary pull-right">查找</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">用户表</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th hidden="hidden">用户id</th>
                        <th hidden="hidden">角色id</th>
                        <th>用户名</th>
                        <th>密码md5</th>
                        <th>邮箱</th>
                        <th>手机号</th>
                        <th>是否删除</th>
                        <th>创建时间</th>
                        <th>修改时间</th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach( $elem in $page.getContent())
                        <tr>
                            <td hidden="hidden">$!{elem.getUserId()}</td>
                            <td hidden="hidden">$!{elem.getRoleId()}</td>
                            <td>$!{elem.getUserName()}</td>
                            <td>$!{elem.getPwdMD5()}</td>
                            <td>$!{elem.getEmail()}</td>
                            <td>$!{elem.getPhone()}</td>
                            <td>$!{elem.getIsdelete()}</td>
                            <td>$!{elem.getCreateTime()}</td>
                            <td>$!{elem.getUpdateTime()}</td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div id="pagination" class="pagination pull-right"><!-- 这里显示分页 --></div>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<script type="text/javascript" src="/plugins/paginator/lib/jquery.min.js"></script>
<link rel="stylesheet" href="/plugins/paginator/lib/pagination.css"/>
<script type="text/javascript" src="/plugins/paginator/lib/jquery.pagination.js"></script>
##<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
##<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
##<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
<script type="text/javascript">
    var jq = $.noConflict();
    jq(function () {
        var totalEles = 0;
        var totalPages = 0;
        var number = 0;

        #if ($page.getTotalElements())
            totalEles=$page.getTotalElements();
        #end

        #if ($page.getTotalPages())
            totalPages=$page.getTotalPages();
        #end

        #if ($page.getNumber())
            totalEles=$page.getNumber();
        #end

        var initPagination = function () {
            // 创建分页
            jq("#pagination").pagination(totalEles, {
                items_per_page:totalPages,
                current_page:number,
                num_edge_entries: 1, //边缘页数
                num_display_entries: 4, //主体页数
                callback: pageselectCallback,
                items_per_page: 1 //每页显示1项
            });
        }();

        function pageselectCallback(page_index, jq) {
//            alert(page_index);
        }
    });

    function validate_empty_form(thisform) {
        with (thisform) {
            jq(".searchQ").each(function () {
                if (jq(this).val() == '') {
                    jq(this).removeAttr("name");
                }
            })
            return true;
        }
    }
</script>